/*.single-dldownload .ast-container {
    max-width: 100%;
    width: 100%;
}*/

.single-dldownload #primary {
    width: 100%;
}

.dl-download-single {
    width: 100%;
    margin: 0 auto;
}

.dl-download-single .entry-thumbnail {
    margin: 0 0 60px 0;
}

.dl-download-single .entry-thumbnail img {
    width: 100%;
}

.dl-download-single .entry-content {
    display: flex;
    flex-direction: row;
    gap: 60px;
}

.dl-download-single .entry-content:after {
    display: none;
}

.dl-download-btn {
    white-space: nowrap;
    display: flex;
    gap: 5px;
    align-items: center;
}

.dl-unavailable {
    white-space: nowrap;
    opacity: 0.6;
}